.count-infinite {
  animation-iteration-count: infinite;
}

.length-6000 {
  animation-duration: 6000ms;
}

.length-1000 {
  animation-duration: 1000ms;
}

.length-500 {
  animation-duration: 500ms;
}

.delay-1 {
  animation-delay: 300ms;
}

.delay-2 {
  animation-delay: 600ms;
}

.delay-3 {
  animation-delay: 900ms;
}

.delay-4 {
  animation-delay: 1200ms;
}

.animate.rotate-Y {
  animation-name: rotate-Y;
  animation-timing-function: linear;
}

.fly-in-right {
  transform: translateX(110vw);
}

.fly-in-left {
  transform: translateX(-110vw);
}

.animate.fly-in-right, 
.animate.fly-in-left {
  animation-name: fly-in;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.fade-in {
  opacity: 0;
}

.animate.fade-in {
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.hover.spin-Y:hover {
  animation-name: spin-Y;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.rotate-slow {
  animation: rotate-slow 6000ms linear infinite;
  transform-origin: center;
}

@keyframes fade-in {
  to {
    opacity: unset;
  }
}

@keyframes fly-in {
  to {
    transform: unset;
  }
}

@keyframes rotate-Y {
  50% {
    transform: rotateY(90deg);
  } 
}

@keyframes spin-Y {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotate-slow {
  50% {
    transform: rotateY(90deg);
  }
  90% {
    transform: rotateY(0deg);
  }
}

@keyframes float-up-left {
  0% {
    transform-origin: bottom;
    translate: 0vw 0vh;
  } 
  5% {
    translate: 2vw -8vh;
  }
  10% {
    translate: 6vw -22vh;
  }
  15% {
    translate: 2vw -28vh;
  }
  20% {
    translate: 6vw -45vh;
  }
  25% {
    translate: -2vw -53vh;
  }
  30% {
    translate: 5vw -65vh;
  }
  35% {
    translate: 0vw -69vh;
  }
  40% {
    translate: 7vw -78vh;
  }
  45% {
    translate: 0vw -93vh;
  }
  50% {
    translate: 3vw -100vh;
  }
  50.1% {
    transform-origin: top;
    translate: 0vw 100vh;
  }
  55% {
    translate: 6vw 88vh;
  }
  60% {
    translate: 0vw 75vh;
  }
  65% {
    translate: 4vw 70vh;
  }
  70% {
    translate: -2vw 56vh;
  }
  75% {
    translate: 5vw 48vh;
  }
  80% {
    translate: 0vw 40vh;
  }
  85% {
    translate: 8vw 25vh;
  }
  90% {
    translate: 0vw 20vh;
  }
  95% {
    translate: 2vw 8vh;
  }
  100% {
    translate: 0vw 0vh;
  }
}

@keyframes float-up-right {
  0% {
    transform-origin: bottom;
    translate: 0vw 0vh;
  } 
  5% {
    translate: -2vw -8vh;
  }
  10% {
    translate: -6vw -22vh;
  }
  15% {
    translate: -2vw -28vh;
  }
  20% {
    translate: -6vw -45vh;
  }
  25% {
    translate: 2vw -53vh;
  }
  30% {
    translate: -5vw -65vh;
  }
  35% {
    translate: 0vw -69vh;
  }
  40% {
    translate: -7vw -78vh;
  }
  45% {
    translate: 0vw -93vh;
  }
  50% {
    translate: -3vw -100vh;
  }
  50.1% {
    transform-origin: top;
    translate: 0vw 100vh;
  }
  55% {
    translate: -6vw 88vh;
  }
  60% {
    translate: 0vw 75vh;
  }
  65% {
    translate: -4vw 70vh;
  }
  70% {
    translate: 2vw 56vh;
  }
  75% {
    translate: -5vw 48vh;
  }
  80% {
    translate: 0vw 40vh;
  }
  85% {
    translate: -8vw 25vh;
  }
  90% {
    translate: 0vw 20vh;
  }
  95% {
    translate: -2vw 8vh;
  }
  100% {
    translate: 0vw 0vh;
  }
}