@use "../sass_partials/variables" as *;

button:not(.question-btn) {
  border-radius: .2rem;
  border: none;
  box-shadow: 0 0 .1rem $blue-dark;
  background: radial-gradient(120% 80% at center, $yellow 45%, $yellow-dark);
  padding: .25rem 1.2rem;
  transition: 200ms;
  font-size: 1rem;
  font-family: $paragraph;
  font-weight: bold;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 .4rem $yellow;
  background: radial-gradient(120% 80% at 50% 40%, $yellow 45%, $yellow-dark);
}