$blue-light: rgb(153, 230, 255);
$blue-light-trans: rgba(153, 230, 255, .85);
$blue: rgb(0, 167, 225);
$blue-trans: rgba(0, 167, 225, .90);
$blue-dark: rgb(0, 31, 41);
$blue-dark-trans: rgba(100, 131, 141, .90);

$black: rgb(18, 19, 15);
$white: rgb(245, 246, 244);
$white-trans: rgba(245, 246, 244, .75);
$white-super-trans: rgba(245, 246, 244, .15);

$green-light: rgb(209, 243, 206);
$green: rgb(96, 212, 80);
$green-dark: rgb(5, 16, 4);

$yellow-light: rgb(251, 235, 177);
$yellow: rgb(254, 204, 4);
$yellow-dark: rgb(39, 31, 2);
$yellow-dark-trans: rgba(39, 31, 2, .75);

$pink-light: rgb(252, 197, 225);
$pink: rgb(149, 9, 82);
$pink-dark: rgb(39, 2, 22);

$headline: "Permanent Marker", cursive;
$subheading: "Andika", sans-serif;
$paragraph: "Montserrat", sans-serif;
$sourGummy: "Sour Gummy", sans-serif;

$headHeight: 4.5rem;