@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comingsoon/v19/qWcuB6mzpYL7AJ2VfdQR1t-VWDnRsDkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nerko One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nerkoone/v16/m8JQjfZSc7OXlB3ZMOjDd5RARGmK3Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v31/XRXX3I6Li01BKofIMNaDRs7nczIH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v31/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --bckgrnd-light: #fff3d4;
  --bckgrnd-light-trans: rgba(243, 244, 248, 0.643);
  --bckgrnd-yellow: #fecc04;
  --overlay: rgba(0, 0, 0, 0.33);
  --bckgrnd-brown: #cf9301;
  --accent-blue: #486BFC;
  --bckgrnd-blue-bright: #2c47ce;
  --accent: #40d160;
  --accent2: #ff8416;
  --accent3: #ff565c;
  --accent4: #A1DA1b;
  --darkText: #181301;
  --lightText: #f3f4f8;
  --headHeight: 8rem;
  --boxShadow: rgba(0, 0, 0, .3);
  --boxShadowDark: rgba(0, 0, 0, .5);
  --headline: "Nerko One", cursive, sans-serif;
  --subheading: "Coming Soon", cursive, sans-serif;
  --bodyText: "Nunito", sans-serif; 
  --bkgrndIconDelayX: 3333ms;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: clamp(10px, 7px + .75vw, 18px);
}

  /* site background */
body {
  position: relative;
  width: calc(100vw - calc(100vw - 100%));
  min-width: 320px;
}

body .page-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  overflow-x: hidden;
  overflow-y: auto;
}

body .page-background .container {
  width: clamp(50px, 40px + 2.8vw, 150px);
  height: clamp(50px, 40px + 2.8vw, 150px);
  position: fixed;
  transform-origin: center;
  z-index: -8;
  animation-timing-function: linear;
  animation-duration: 25000ms;
  animation-iteration-count: infinite;
  transform-style: preserve-3d;

}

body .page-background .container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -6;
}

  /* left side icons */
body .page-background .container:nth-child(odd) {
  left: 0;
}
  
body .page-background .container.ic1 {
  bottom: clamp(20px, 5.5vh, 176px);
  transform: rotate(20deg);
  animation-name: float-up-left;
}

body .page-background .container.ic1 img {
  position: absolute;
  left: -25%;
}

body .page-background .container.ic3 {
  bottom: clamp(60px, 16.5vh, 528px);
  transform: rotate(-20deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 3);
  animation-name: float-up-left;
}

body .page-background .container.ic3 img {
  position: absolute;
  left: 20%;
}

body .page-background .container.ic5 {
  bottom: clamp(99px, 27.5vh, 880px);
  transform: rotate(30deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 5);
  animation-name: float-up-left;
}

body .page-background .container.ic5 img {
  position: absolute;
  left: 150%
}

body .page-background .container.ic7 {
  bottom: clamp(138px, 38.5vh, 1232px);
  transform: rotate(-10deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 7);
  animation-name: float-up-left;
}

body .page-background .container.ic7 img {
  position: absolute;
  left: 50%;
}

body .page-background .container.ic9 {
  bottom: clamp(178px, 49.5vh, 1584px);
  transform: rotate(5deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 9);
  animation-name: float-up-left;
}

body .page-background .container.ic9 img {
  position: absolute;
  left: 0;
}

body .page-background .container.ic11 {
  bottom: clamp(237px, 66vh, 2112px);
  transform: rotate(-3deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 11);
  animation-name: float-up-left;
}

body .page-background .container.ic11 img {
  position: absolute;
  left: 200%;
}

  /* right side icons */
body .page-background .container:nth-child(even) {
  right: 0;
}
  
body .page-background .container.ic2 {
  top: clamp(81px, 22.5vh, 720px);
  transform: rotate(-20deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 2);
  animation-name: float-up-right;
}

body .page-background .container.ic2 img {
  position: absolute;
  right: -25%;
}

body .page-background .container.ic4 {
  top: clamp(121px, 1px + 33.49vh, 1072px);
  transform: rotate(20deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 4);
  animation-name: float-up-right;
}

body .page-background .container.ic4 img {
  position: absolute;
  right: 20%;
}

body .page-background .container.ic6 {
  top: clamp(161px, 1px + 44.48vh, 1424px);
  transform: rotate(-30deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 6);
  animation-name: float-up-right;
}

body .page-background .container.ic6 img {
  position: absolute;
  right: 150%;
}

body .page-background .container.ic8 {
  top: clamp(200px, 1px + 55.5vh, 1776px);
  transform: rotate(-10deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 8);
  animation-name: float-up-right;
}

body .page-background .container.ic8 img {
  position: absolute;
  right: 50%;
}

body .page-background .container.ic10 {
  top: clamp(240px, 1px + 66.48vh, 2128px);
  transform: rotate(-5deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 10);
  animation-name: float-up-right;
}

body .page-background .container.ic10 img {
  position: absolute;
  right: 0;
}

body .page-background .container.ic12 {
  top: clamp(299px, 1px + 83vh, 2656px);
  transform: rotate(-3deg);
  animation-delay: calc(var(--bkgrndIconDelayX) * 12);
  animation-name: float-up-right;
}

body .page-background .container.ic12 img {
  position: absolute;
  right: 100%;
}

body .page-background .overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: var(--bckgrnd-light-trans);
}
  /* buttons */
button:not(.play-btn) {
  padding: .25rem 2rem;
  font-size: 1.2rem;
  font-family: var(--subheading);
  font-weight: bold;
  background-color: var(--bckgrnd-yellow);
  color: var(--darkText);
  border: none;
  border-radius: .2rem;
  box-shadow: .08rem .08rem .2rem var(--boxShadow);
  transition: 150ms;
  cursor: pointer;
}

button:not(.play-btn):hover {
  transform: scale(1.03);
  box-shadow: .1rem .1rem .3rem var(--boxShadowDark);
}

  /* Header */
header {
  width: 100%;
  min-height: var(--headHeight);
}

header .content-container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  gap: 20px;
}

header .content-container img {
  height: calc(var(--headHeight) - 2rem);
  width: auto;
  animation: rotate-slow 6000ms linear infinite;
  transform-origin: center;
}

header .countdown-container {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 1px solid var(--darkText);
  border-radius: .5rem;
  padding: 1rem;
  margin: .5rem 0;
  background-color: var(--lightText);
  box-shadow: -.2rem .2rem .5rem var(--boxShadow);
}

header .timer-wrapper .title {
  text-align: center;
  font-size: 1.35rem;
}

header .countdown-container .countdown-unit-container .countdown-label {
  font-size: 1.5rem;
}

header .countdown-container .countdown-unit-container .countdown-qty{
  font-size: 2rem;
  font-weight: bold;
  color: var(--darkText)
}

  /* VSL Section */
#vsl-section {
  width: 100vw;
  padding: 0 1rem 2rem;
  display: block;
}

#vsl-section .flex-container {
  width: 100%;
  min-height: calc(100vh - var(--headHeight));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 2rem;
}

#vsl-section .text-vid-wrapper {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#vsl-section .text-container {
  position: relative;
  display: block;
  max-width: 1400px;
  min-width: 300px;
  text-align: center;
  color: white;
  overflow: visible;
  text-shadow: .2rem .2rem .3rem var(--boxShadow);
}

#vsl-section .text-container .accent-box {
  width: 100%;
  height: 30rem;
  background-color: var(--bckgrnd-blue-bright);
  position: absolute;
  top: 0;
  z-index: -1;
  border:none;
  border-radius: .5rem;
  box-shadow: 0 0 1rem var(--boxShadow);
}

#vsl-section .text-container h1 {
  font-family: var(--headline);
  font-size: 5rem;
  line-height: .75;
  margin: 1rem 1rem 0;
}

#vsl-section .text-container h2 {
  font-family: var(--subheading);
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.3;
  margin: 1rem 1rem 0;
}

#vsl-section .text-container .instructions {
  margin: 2rem 1rem 0;
  font-size: 1.2rem;
}

#vsl-section .video-container {
  position: relative;
  display: block;
  max-width: 924px;
  width: clamp(280px, -46px + 101vw, 1380px);
  aspect-ratio: 16/9;
  height: auto;
  margin: .8rem auto 0;
  border: none;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 0 .5rem var(--boxShadowDark);
}

#vsl-section .video-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
  z-index: -1;
}

#vsl-section .video-container .overlay {
  position: absolute;
  background-color: var(--overlay);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#vsl-section .video-container .play-btn {
  border: .2rem solid white;
  color: white;
  background-color: transparent;
  border-radius: 100%;
  width: 5rem;
  max-width: 100px;
  aspect-ratio: 1;
  height: auto;
  box-shadow: 0 0 .5rem var(--boxShadow);
  font-size: 2rem;
  transition-duration: 200ms;
}

#vsl-section .video-container .play-btn:hover {
  transform: scale(1.05);
  background-color: var(--boxShadow)
}

#vsl-section .cta-container {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 1rem var(--boxShadow);
  padding: 1rem;
  background-color: var(--bckgrnd-light-trans);
  gap: 1rem;
}

#vsl-section .cta-container form {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#vsl-section .cta-container fieldset {
  width: 100%;
  border: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
}

#vsl-section .cta-container form label,
#vsl-section .cta-container form input {
  font-size: 1.4rem;
  font-family: var(--bodyText);
}

#vsl-section .cta-container form input {
  padding: .5rem;
  flex: 1 0;
  border-radius: .25rem;
}

#vsl-section .cta-container form button {
  width: 90%;
  cursor: pointer;
  margin-top: 1rem;
}

#vsl-section .cta-container #decline-button {
  width: 100%;
  margin-top: 1rem;
  background: none;
  border-radius: none;
  box-shadow: none;
  font-size: 1rem;
  cursor: pointer;
}

#vsl-section .cta-container #decline-button:hover {
  text-decoration: underline;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: var(--darkText);
  color: var(--bckgrnd-yellow);
}

#thank-you-section {
  display: block;
  position: relative;
  min-height: calc(100vh - var(--headHeight));
  background-color: var(--bckgrnd-yellow);
  padding: 3rem 1rem;
  font-size: 1.6rem;
}

#thank-you-section .flex-container {
  width: 100%;
  background-color: var(--bckgrnd-light-trans);
  max-width: 1400px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
  box-shadow: 0 0 .5rem var(--boxShadow);
  border: none;
  border-radius: .5rem;
}

#thank-you-section .flex-container .container {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#thank-you-section .flex-container .container:nth-of-type(odd) {
  width: 100%;
  align-items: center;
  box-shadow: 0 0 .5rem var(--boxShadow);
  text-align: center;
}

#thank-you-section .flex-container .container:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

#thank-you-section .flex-container .container:last-of-type {
  background-color: var(--lightText);
  border: 2px solid var(--darkText);
}

#thank-you-section h1 {
  font-size: 4rem;
}

#thank-you-section .offer {
  margin-top: -4rem;
}

#thank-you-section h2 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

#thank-you-section h2 span {
  font-size: 1.6rem
}

#thank-you-section h3 {
  margin-bottom: .75rem;
  font-size: 1.6rem
}

#thank-you-section .email {
  font-weight: bold;
  font-size: 1.6rem;
  word-break: keep-all;
}

#thank-you-section a {
  text-decoration: none;
  color: unset;
}

#thank-you-section .fast-track .link-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

#thank-you-section .fast-track .link-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 .2rem var(--boxShadow);
  padding: 1rem;
  margin-top: 1rem;
}

#thank-you-section .fast-track .link-container div .note {
  font-size: 1rem;
  margin-top: -.9rem;
}

#thank-you-section .fast-track .link-container div a {
  background-color: var(--accent-blue);
  color: white;
  padding: .5rem 2rem;
  flex: 0 1 auto;
  border: none;
  border-radius: .4rem;
  font-weight: bold;
  text-shadow: 0 0 .4rem var(--boxShadow);
  transition-duration: 250ms;
}

#thank-you-section .fast-track .link-container div a:hover {
  transform: scale(1.04);
}

  /* Animations */
@keyframes rotate-slow {
  50% {
    transform: rotateY(90deg);
  }
  90% {
    transform: rotateY(0deg);
  }
}

@keyframes float-up-left {
  0% {
    transform-origin: bottom;
    translate: 0vw 0vh;
  } 
  5% {
    translate: 2vw -8vh;
  }
  10% {
    translate: 6vw -22vh;
  }
  15% {
    translate: 2vw -28vh;
  }
  20% {
    translate: 6vw -45vh;
  }
  25% {
    translate: -2vw -53vh;
  }
  30% {
    translate: 5vw -65vh;
  }
  35% {
    translate: 0vw -69vh;
  }
  40% {
    translate: 7vw -78vh;
  }
  45% {
    translate: 0vw -93vh;
  }
  50% {
    translate: 3vw -100vh;
  }
  50.1% {
    transform-origin: top;
    translate: 0vw 100vh;
  }
  55% {
    translate: 6vw 88vh;
  }
  60% {
    translate: 0vw 75vh;
  }
  65% {
    translate: 4vw 70vh;
  }
  70% {
    translate: -2vw 56vh;
  }
  75% {
    translate: 5vw 48vh;
  }
  80% {
    translate: 0vw 40vh;
  }
  85% {
    translate: 8vw 25vh;
  }
  90% {
    translate: 0vw 20vh;
  }
  95% {
    translate: 2vw 8vh;
  }
  100% {
    translate: 0vw 0vh;
  }
}

@keyframes float-up-right {
  0% {
    transform-origin: bottom;
    translate: 0vw 0vh;
  } 
  5% {
    translate: -2vw -8vh;
  }
  10% {
    translate: -6vw -22vh;
  }
  15% {
    translate: -2vw -28vh;
  }
  20% {
    translate: -6vw -45vh;
  }
  25% {
    translate: 2vw -53vh;
  }
  30% {
    translate: -5vw -65vh;
  }
  35% {
    translate: 0vw -69vh;
  }
  40% {
    translate: -7vw -78vh;
  }
  45% {
    translate: 0vw -93vh;
  }
  50% {
    translate: -3vw -100vh;
  }
  50.1% {
    transform-origin: top;
    translate: 0vw 100vh;
  }
  55% {
    translate: -6vw 88vh;
  }
  60% {
    translate: 0vw 75vh;
  }
  65% {
    translate: -4vw 70vh;
  }
  70% {
    translate: 2vw 56vh;
  }
  75% {
    translate: -5vw 48vh;
  }
  80% {
    translate: 0vw 40vh;
  }
  85% {
    translate: -8vw 25vh;
  }
  90% {
    translate: 0vw 20vh;
  }
  95% {
    translate: -2vw 8vh;
  }
  100% {
    translate: 0vw 0vh;
  }
}