@use "../../sass_partials/set-page";
@use "../../sass_partials/classes";
@use "../../sass_partials/animations";

$bckgrnd-light: #fff3d4;
$bckgrnd-light-trans: rgba(243, 244, 248, 0.643);
$bckgrnd-yellow: #fecc04;
$overlay: rgba(0, 0, 0, 0.35);
$overlayDark: rgba(0, 0, 0, 0.65);
$bckgrnd-brown: #cf9301;
$accent-blue: #486BFC;
$bckgrnd-blue-bright: #2c47ce;
$accent: #40d160;
$accent2: #ff8416;
$accent3: #ff565c;
$accent4: #A1DA1b;
$darkText: #181301;
$lightText: #f3f4f8;
$headHeight: 8rem;
$boxShadow: rgba(0, 0, 0, .3);
$boxShadowDark: rgba(0, 0, 0, .5);
$headline: "Nerko One", cursive, sans-serif;
$subheading: "Coming Soon", cursive, sans-serif;
$bodyText: "Nunito", sans-serif; 

// Site Background
body {
  display: block;
  position: static;
  width: 100vw;
    //sets min design width for small older cell phones
  min-width: 320px;
  scroll-margin-top: $headHeight;
  color: $darkText;
  font-family: $bodyText;

  .page-background {
    $bkgrndIconDelayX: 2373ms;

    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
    overflow-x: hidden;
    overflow-y: auto;

    .icon-container {
      width: clamp(50px, 40px + 2.8vw, 150px);
      height: clamp(50px, 40px + 2.8vw, 150px);
      position: fixed;
      transform-origin: center;
      z-index: -8;
      animation-timing-function: linear;
      animation-duration: 25000ms;
      animation-iteration-count: infinite;
      transform-style: preserve-3d;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: -6;
      }

        // left side icons
      &:nth-child(odd) {
        left: 0;
        animation-name: float-up-left;
      }

      &.ic1 {
        bottom: clamp(20px, 5.5vh, 176px);
        transform: rotate(20deg); 
        
        img {
          position: absolute;
          left: -25%;
        }
      }

      &.ic3 {
        bottom: clamp(60px, 16.5vh, 528px);
        transform: rotate(-20deg);
        animation-delay: $bkgrndIconDelayX * 3;
        
        img {
          position: absolute;
          left: 20%;        
        }
      }

      &.ic5 {
        bottom: clamp(99px, 27.5vh, 880px);
        transform: rotate(30deg);
        animation-delay: calc($bkgrndIconDelayX * 5);
        
        img {
          position: absolute;
          left: 150%        
        }
      }

      &.ic7 {
        bottom: clamp(138px, 38.5vh, 1232px);
        transform: rotate(-10deg);
        animation-delay: calc($bkgrndIconDelayX * 7);
        
        img {
          position: absolute;
          left: 50%;

        }
      }

      &.ic9 {
        bottom: clamp(178px, 49.5vh, 1584px);
        transform: rotate(5deg);
        animation-delay: calc($bkgrndIconDelayX * 9);
        
        img {
          position: absolute;
          left: 0;
        
        }
      }

      &.ic11 {
        bottom: clamp(237px, 66vh, 2112px);
        transform: rotate(-3deg);
        animation-delay: calc($bkgrndIconDelayX * 11);
        
        img {
          position: absolute;
          left: 200%;
        
        }
      }

        // Right side icons
      &:nth-child(even) {
        right: 0;
        animation-name: float-up-right;
      }

      &.ic2 {
        top: clamp(81px, 22.5vh, 720px);
        transform: rotate(-20deg);
        animation-delay: calc($bkgrndIconDelayX * 2);
        
        img {
          position: absolute;
          right: -25%;
        
        }
      }

      &.ic4 {
        top: clamp(121px, 1px + 33.49vh, 1072px);
        transform: rotate(20deg);
        animation-delay: calc($bkgrndIconDelayX * 4);
        
        img {
          position: absolute;
          right: 20%;
        
        }
      }

      &.ic6 {
        top: clamp(161px, 1px + 44.48vh, 1424px);
        transform: rotate(-30deg);
        animation-delay: calc($bkgrndIconDelayX * 6);
        
        img {
          position: absolute;
          right: 150%;
        
        }
      }

      &.ic8 {
        top: clamp(200px, 1px + 55.5vh, 1776px);
        transform: rotate(-10deg);
        animation-delay: calc($bkgrndIconDelayX * 8);
        
        img {
          position: absolute;
          right: 50%;
        
        }
      }

      &.ic10 {
        top: clamp(240px, 1px + 66.48vh, 2128px);
        transform: rotate(-5deg);
        animation-delay: calc($bkgrndIconDelayX * 10);
        
        img {
          position: absolute;
          right: 0;
        
        }
      }

      &.ic12 {
        top: clamp(299px, 1px + 83vh, 2656px);
        transform: rotate(-3deg);
        animation-delay: calc($bkgrndIconDelayX * 12);
        
        img {
          position: absolute;
          right: 100%;
        
        }
      }
    }

    .overlay {
      position: absolute;
      height: 100vh;
      width: 100vw;
      z-index: -1;
      background-color: $bckgrnd-light-trans;
    
    }
  }
}

// Header
header {
  width: 100vw;
  height: $headHeight;

  .content-container {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: 20px;

    img {
      height: calc($headHeight - 2rem);
      width: auto;
      animation: rotate-slow 6000ms linear infinite;
      transform-origin: center;
    }
  }
}

// Buttons
button:not(.play-btn) {
  padding: .8rem 3rem;
  font-size: 1.6rem;
  font-family: $subheading;
  font-weight: bold;
  background-color: $bckgrnd-yellow;
  color: $darkText;
  border: none;
  border-radius: .2rem;
  box-shadow: .08rem .08rem .2rem $boxShadow;
  transition: 150ms;
  cursor: pointer;

  p {
    font-size: 1.2rem;
    font-family: $bodyText;
    font-weight: normal;
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: .1rem .1rem .3rem $boxShadowDark;
  } 
}

// VSL section
section#vsl-section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;

  .content-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;

    h1 {
      font-family: $headline;
      font-size: 5.5rem;
      line-height: .75;
      color: $darkText;
      text-align: center;
    }
  }

  .text-vid-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;

    .text-container {
      position: relative;
      display: block;
      max-width: 1400px;
      min-width: 300px;
      text-align: center;
      color: white;
      overflow: visible;
      text-shadow: .2rem .2rem .3rem $boxShadow;
      
      .accent-box {
        width: 100%;
        height: 25rem;
        background-color: $bckgrnd-blue-bright;
        position: absolute;
        top: 0;
        z-index: -1;
        border:none;
        border-radius: .5rem;
        box-shadow: 0 0 1rem $boxShadow;
      }

      h2 {
        font-family: $subheading;
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.3;
        margin: 1rem;

        span {
          font-size: 2.4rem;
        }
      }

      .instructions {
        margin: 2rem 1rem 0;
        font-size: 1.8rem;

        span {
          font-size: 1rem;
        }
      }

    }

    .video-container {
      position: relative;
      display: block;
      max-width: 924px;
      width: clamp(280px, -46px + 101vw, 1380px);
      aspect-ratio: 16/9;
      height: auto;
      margin: .8rem auto 0;
      border: none;
      border-radius: .5rem;
      overflow: hidden;
      box-shadow: 0 0 .5rem $boxShadowDark;
      transition: 500ms;

      img:not(.icon) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        aspect-ratio: 16/9;
        height: auto;
        z-index: -1;
      }

      .overlay {
        position: absolute;
        display: block;
        background: $overlay;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        z-index: 1;

        &:hover {
          background: radial-gradient(circle at center, white, $overlayDark 45%); 
        }

        .play-btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: none;
          color: white;
          background-color: #FF0000;
          border-radius: 1rem;
          width: 6rem;
          max-width: 100px;
          aspect-ratio: 16/9;
          height: auto;
          box-shadow: 0 0 .5rem $boxShadow;
          font-size: 2rem;
          transition-duration: 200ms;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 1rem $boxShadowDark;
          }

          img.icon {
            width: 50%;
            height: auto;
          }

        }
      }
    }
  }

  a {
    transition-duration: 1000ms;
  }
}

// CTA section
section#cta-section {
  width: 100vw;
  min-height: calc(100vh - 2rem);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;

  .text-wrapper {
    h2 {
      font-size: 3rem;
    }
  
    p {
      font-size: 1.8rem;
    }
  }

  .timer-wrapper {
    .title {
      text-align: center;
      font-size: 1.6rem;     
    }
    
    .countdown-container {
      display: flex;
      gap: 1.4rem;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      border: 1px solid $darkText;
      border-radius: .5rem;
      padding: .8rem;
      margin: .5rem 0;
      background-color: $lightText;
      box-shadow: -.2rem .2rem .5rem $boxShadow;

      .countdown-unit-container {
        .countdown-label {
          font-size: 1.5rem;
        }

        .countdown-qty {
          font-size: 2rem;
          font-weight: bold;
          color: $darkText;
        }
      }
    }
  }

  .cta-container {
    max-width: 800px;
    margin: 1.6rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1rem $boxShadow;
    padding: 2rem 1rem;
    background-color: $bckgrnd-light;
    gap: 1rem;

    
    form {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      fieldset {
        width: 100%;
        border: none;
        display: flex;
        gap: 1rem;
        align-items: center;
        max-width: 800px;
        height: auto;

        label, input {
          font-size: 1.4rem;
          font-family: $bodyText;
        }

        input, textarea {
          padding: .5rem;
          flex: 1 0;
          border-radius: .25rem;
          border: .1rem solid $darkText;
          font-family: $bodyText;

          &:focus {
            box-shadow: 0 0 .5rem $boxShadow;
            transform: scale(1.03);
          }
        }

        textarea {
          field-sizing: content;
          resize: vertical;
          font-size: 1.4rem;
        }
      }
      
      button {
        width: 90%;
        cursor: pointer;
        margin-top: 1rem;
      }
    }
  }
}

// Thank You section
section#thank-you-section {
  padding: 3rem 1rem;
  font-size: 1.6rem;

  .flex-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .title {
      font-size: 4rem;
    }
    
    .offer {
      margin-top: -4rem;
    }

    .container.thank-you{
      padding: 1.5rem;
      border: none;
      border-radius: .5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: .1rem solid $darkText;
      
    }
    
    
    h2 {
      margin-bottom: 1rem;
      font-size: 2.2rem;
  
      span {
        font-size: 1.6rem
      }
    
    }
    
    h3 {
      margin-bottom: .75rem;
      font-size: 1.6rem
    }
    
    
    a {
      text-decoration: none;
      color: unset;
    }
  }

  
  
  
  
}

// Next Steps section
section#next-steps {
  width: 100vw;
  background-color: $bckgrnd-blue-bright;
  padding: 3rem;
  font-size: 1.6rem;
  color: white;

  .container.next-steps {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h2 {
      margin-bottom: 1rem;
    }

    .email {
      font-weight: bold;
      font-size: 1.6rem;
      word-break: keep-all;
      word-wrap: none;
      text-align: center;
      align-self: center;

      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
      }
    }

  }
}

// Fast Track section
section#fast-track {
  width: 100vw;
  font-size: 1.6rem;

  .container.fast-track {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:.25rem;

    h2 {
      align-self: center;
  
      span {
        font-size: 1.4rem;
        vertical-align: middle;
      }
    
    }
    
    span.subtitle {
      margin-bottom: .75rem;
      font-size: 1.6rem;
      align-self: center;
    }

    .link-container {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 3rem;
      margin-top: 2rem;

      div:not(.text-container) {
        min-width: 300px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        box-shadow: 0 0 .2rem $boxShadow;
        padding: 1rem;
        margin-top: 1rem;
        border: none;
        border-radius: .5rem;
        background-color: $bckgrnd-light;

        .text-container {
          box-shadow: none; 
          text-align: center;

          h4 {
            font-size: 1.8rem;
          }

          span.note {
            font-size: 1.2rem;
            margin-top: -2rem;
          }
  
        }

        
      }
      
    }

  }
}

// Footer
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem .1rem;
  background-color: $darkText;
  color: $bckgrnd-yellow;
  font-size: 1.2rem;
}